* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

/* Header */
.create-course-header {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

.create-course-title {
  width: 85%;
}

.create-course-btn {
  width: 15%;
}

.create-course-back-a:visited,
:link {
  color: white;
  text-decoration: none;
}

.form {
  max-width: 50%;
  margin: 30px auto;
  overflow: auto;
  min-height: 100px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.create-course-input {
  padding: 10px;
}

/* Submit button */
.btn,
.create-course-back-btn {
  display: inline-block;
  width: 30%;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}