* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

/* Nav */
.nav-ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

.nav-li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
